@media screen and (max-width: 767px) {

    .item{
        width: 85%;
        height: fit-content;
        margin: 0 auto;
        
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        position: relative;
        top: -70px;

        border-bottom: 1px solid lightgrey;
    }

    .itemContent p {
        font-size: 1rem;
    }

    .itemContent {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .cancel {
        font-size: 1.4rem;
        color: #3a7cfd;
    }

    .delete {
        color: #fda5a5;
        font-size: 1.4rem;
    }

    .check {
        color: #3a7563;
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .item{
        width: 85%;
        height: fit-content;
        margin: 0 auto;

        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        position: relative;
        top: -70px;

        border-bottom: 1px solid lightgrey;
    }

    .itemContent p {
        font-size: 1.1rem;
    }

    .itemContent {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .cancel {
        font-size: 1.5rem;
        color: #3a7cfd;
    }

    .delete {
        color: #fda5a5;
        font-size: 1.5rem;
    }

    .check {
        color: #3a7563;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {

    .item{
        width: 55%;
        height: fit-content;
        margin: 0 auto;

        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        position: relative;
        top: -110px;

        border-bottom: 1px solid lightgrey;
    }

    .itemContent p {
        font-size: 1.3rem;
    }

    .itemContent {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .cancel {
        font-size: 1.6rem;
        color: #3a7cfd;
    }

    .delete {
        color: #fda5a5;
        font-size: 1.6rem;
    }

    .check {
        color: #3a7563;
        font-size: 1.6rem;
    }
}