@media screen and (max-width: 767px) {

    .filterWrapper {
        width: 85%;
        margin: 0 auto;
        position: relative;
        top: -70px;
    }

    .btnWrapper {
        padding: 15px;
        display: flex;
        justify-content: center;
        gap: 30px;
        background-color: #fff;
        border-radius: 5px 5px;
        padding: 20px;
    }

    .btnWrapper button {
        border: none;
        background-color: #fff;
        font-size: 0.9rem;
        font-family: Helvetica, sans-serif;
    }

    .btnWrapper button:focus {
        font-weight: 800;
    }

    .btnWrapper button:hover {
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .filterWrapper {
        width: 85%;
        margin: 0 auto;
        position: relative;
        top: -70px;
    }

    .btnWrapper {
        padding: 15px;
        display: flex;
        justify-content: center;
        gap: 40px;
        background-color: #fff;
        border-radius: 5px 5px;
        padding: 20px;
    }

    .btnWrapper button {
        border: none;
        background-color: #fff;
        font-size: 1rem;
        font-family: Helvetica, sans-serif;
    }

    .btnWrapper button:focus {
        font-weight: 800;
    }

    .btnWrapper button:hover {
        cursor: pointer;
    }
}

@media screen and (min-width: 1024px) {

    .filterWrapper {
        width: 55%;
        margin: 0 auto;
        position: relative;
        top: -110px;
    }

    .btnWrapper {
        padding: 15px;
        display: flex;
        justify-content: center;
        gap: 50px;
        background-color: #fff;
        border-radius: 5px 5px;
        padding: 20px;
        height: 75px;
    }

    .btnWrapper button {
        border: none;
        background-color: #fff;
        font-size: 1.2rem;
        font-family: Helvetica, sans-serif;
    }

    .btnWrapper button:focus {
        font-weight: 800;
    }

    .btnWrapper button:hover {
        cursor: pointer;
    }
}