* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  
  .body {
    background-color: #eee;
    height: 100vh;
  }

  .headerWrapper {
    height: 200px;
    width: 100vw;
    background-image: url('./assets/bg-mobile-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
  }

  .header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
  }

  .todo,
  .moon {
    margin-top: 30px;
  }

  .todo {
    font-family: Helvetica, sans-serif;
    color: white;
    margin-left: -50px;
    letter-spacing: 5px;
  }

  .moon {
    color: #fff;
    font-size: 23px;
    margin-right: -50px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;

    position: relative;
    top: -70px;
  }

  .footer p {
    font-size: 1.2rem;
    color: #c4c1e0;
    font-weight: 700;
  }

  .footer button {
    border: none;
    background-color: #fff;
    color: #c4c1e0;
    font-size: 1rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .body {
    background-color: #eee;
    height: 100vh;
  }
  
  .headerWrapper {
    height: 220px;
    width: 100vw;
    background-image: url('./assets/bg-mobile-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
  }

  .todo,
  .moon {
    margin-top: 30px;
  }

  .todo {
    font-family: Helvetica, sans-serif;
    color: white;
    margin-left: -180px;
    letter-spacing: 5px;
  }

  .moon {
    color: #fff;
    font-size: 25px;
    margin-right: -180px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;

    position: relative;
    top: -70px;
  }

  .footer p {
    font-size: 1.2rem;
    color: #c4c1e0;
    font-weight: 700;
  }

  .footer button {
    border: none;
    background-color: #fff;
    color: #c4c1e0;
    font-size: 1rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 1024px) {

  .body {
    background-color: #eee;
    height: 100vh;
  }
  
  .headerWrapper {
    height: 300px;
    width: 100vw;
    background-image: url('./assets/bg-desktop-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
  }

  .todo,
  .moon {
    margin-top: 30px;
  }

  .todo {
    font-family: Helvetica, sans-serif;
    color: white;
    margin-left: 10px;
    letter-spacing: 5px;
    font-size: 1.4rem;
  }

  .moon {
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 55%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;

    position: relative;
    top: -110px;
  }

  .footer p {
    font-size: 1.3rem;
    color: #c4c1e0;
    font-weight: 700;
  }

  .footer button {
    border: none;
    background-color: #fff;
    color: #c4c1e0;
    font-size: 1.3rem;
    font-weight: 700;
  }
}